body{
    background-size: cover;
    background: url("../img/street.jpg") no-repeat fixed center center;
}
.container{
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 3fr 1fr 3fr;
    grid-template-areas:
        "A A A"
        ". B ."
        "C . D";
}
.topnav{
    grid-area: A;
    overflow: hidden;
    background-color: black;
    opacity: 60%;
}
.topnav a[href$=search]{
    margin-right: 90px;
}
.topnav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topnav li{
    display: inline;
    float: right;
    margin-top: 60px;
}
.topnav a{
    color: white;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}
.topnav a:after{
    display: block;
    content: '';
    border-bottom: solid 3px orangered;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.topnav a:hover:after{
    transform: scaleX(1);
}
.top{
    grid-area: B;
    text-align: center;
    align-self: center;
}
.top h1{
    color: white;
    font-size: 50px;
}
.top p{
    color: white;
    font-size: 16px;
    opacity: 70%;
    padding-top: 20px;
    padding-bottom: 30px;
}
.top hr{
    color: white;
    border: 2px solid white;
    width: 500px;
}
.top button{
    height: 40px;
    width: 150px;
    color: white;
}
.top .btn-transparent{
    border: 2px solid white;
    background-color: transparent;
}
.top .btn-colored{
    background-color: orangered;
    border: 1px solid orangered;
}
.top .btn-colored:hover{
    background-color: gray;
}
.left{
    grid-area: C;
    padding-top: 20px;
    justify-self: right;
}
.left button{
    margin-left: 20px;
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
    background-color: gray;
    border: 2px solid white;
    float: left;
}
.left button:hover{
    background-color: orangered;
    border: 1px solid orangered;
}
.left h1{
    color: whitesmoke;
    margin-left: 90px;
    font-size: 14px;
}
.left p{
    color: whitesmoke;
    opacity: 70%;
    margin-left: 90px;
    font-size: 10px;
}
.second{
    margin-top: 80px;
}
.third{
    margin-top: 80px;
}
.right{
    grid-area: D;
    padding-top: 20px;
    justify-self: left;
    align-items: end;
    text-align: right;
}
.right button{
    margin-right: 20px;
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
    background-color: gray;
    border: 2px solid white;
    float: right;
}
.right button:hover{
    background-color: orangered;
    border: 1px solid orangered;
}
.right h1{
    color: whitesmoke;
    margin-right: 90px;
    font-size: 14px;
}
.right p{
    color: whitesmoke;
    opacity: 70%;
    margin-right: 90px;
    font-size: 10px;
}